@import "variables";

.Apoyanos__h1{
    text-align: center;
    color: $letraClara;
}
.Apoyanos__p{
    font-weight: 600;
    margin: 15px;
    text-align: center;
    color: $letraClara;
}

.Div__Form--apoyanos{
    display: flex;
    justify-content: center;
    

    .Apoyanos__form{
        border: 3px solid;
        border-color: $bordeOscuro;;
        padding: 5px;
        font-weight: 600;
        background-color: $fondoOscuro;

    }
}

