.Apoyanos__h1{
    text-align: center;
}
.Apoyanos__p{
    font-weight: 600;
    margin: 15px;
}

.Div__Form--apoyanos{
    display: flex;
    justify-content: center;

    .Apoyanos__form{
        border: 3px solid;
        padding: 5px;
        font-weight: 600;

    
    }
}

