@import "variables";

.Biblio__h1{
    margin: 8px;
    padding: 5px;
    text-align: center;
    color: #e0e0cd;
}

.Main__Div--Bibliografia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid;
    border-color: #594E35;
    margin: 5px;
    background-color: #594e3552;

    .Main__Div--Imagen{
        max-width: 25%;
        margin-top: 15px;

        
    }

    .Main__Div--Texto{
        max-width: 75%;
        margin-left: 10px;
        margin-top: 15px;
    }

    
}

